body{
	background-image: url(../images/background-404.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "LLReplicaProWeb", Arial, sans-serif;
}

h1{
	margin-top: 18%;
	margin-left: 10%;
}

h2{
	margin-left: 10%;
}

img{
	height: 100px;
}