#admin-edit > div{
	width: 20%;
	margin-left: 6%;
	margin-right: 6%;
	margin-top: 5%;
	display: inline-block;
	height: 500px;
	text-align: center;
	border-radius: 5px;
}

.edit:hover{
	cursor: pointer;
}

#admin-events{
	background-color: red;
}

#admin-teams{
	background-color: green;
}

#admin-users{
	background-color: yellow;
	margin-left: 0px !!important;
	margin-right: 0px !!important;
}

.admin-header{
	margin-top: 240px;
}

.admin-body{
	display: none;
}

#team-select{
	display: inline-block;
}

#team-select p{
	padding: 20px;
	color: black;
}

#team_b{
	margin: 10px;
}

select{
	margin-top: 10px;
	margin-bottom: 10px;
}